
.notion-image.page-width img{
  width: 100px !important;
  height: 100px !important;
  object-fit: cover;
  border-radius: 100%;
}

.notion-image.page-width{
  display: flex;
  justify-content: center;
}
/*
---------------------------------------------------
    DON'T TOUCH ABOVE THIS LINE
---------------------------------------------------
*/

/* 
  Quote changes
*/
.notion-quote{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  border-color: var(--t1);
  transition: all 300ms ease-in-out;
}

.notion-quote:hover{
  transition: all 300ms ease-in;
  transform: scale(1.2);
}


/*
          The first notion column
*/
.notion-column-list:nth-of-type(8) > .notion-column> .notion-callout {
  background: rgba(255,255,255,0.02);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.2);
  visibility: hidden;
}

.notion-column-list:nth-of-type(8) > .notion-column> .notion-callout.active{
  animation: fadeInUp;
  animation-duration: 2s;
  visibility: visible;
}

.notion-column .notion-heading {
  top: -25px;
}

.notion-column-list:nth-of-type(8) > .notion-column .notion-callout__content{
  display: grid;
  justify-items: center;
}
/*---------------------------------------------*/

/*
    The action section changes(one with pics)
*/
.notion-column-list:nth-of-type(9) > .notion-column > .notion-callout{
  border-radius: 10px;
  background-color: rgba(255,255,255,0.02);
}

.notion-column-list:nth-of-type(9) > .notion-column > .notion-callout:hover{
  box-shadow: 0px 0px 10px 5px var(--dark);
}

.notion-column-list:nth-of-type(9) > .notion-column > .notion-callout > .notion-callout__content > span{
  display: flex;
  justify-content: center;
  color: var(--t2);
}

/*
  This is bulleted list changes
*/
.notion-column:nth-of-type(2) .notion-bulleted-list{
  position: initial;
  left: 15px !important;
}

.notion-column:nth-of-type(2) .notion-bulleted-list > li{
  margin-top: 5px;
  color: var(--t1);
  padding-right: 10px;
  padding-left: 5px;
  background: rgba(66,191,221,.1);
  border-radius: 10px;
  border: 1px solid var(--t2);
  text-align: center;
}

.notion-column:nth-of-type(2) .notion-bulleted-list > li:hover{
  box-shadow: 0px 0px 2px 0px var(--t2);
}

/* 
  This is the normal text callout
*/

.notion-column-list:nth-of-type(8) > .notion-column:nth-of-type(1) > .notion-callout > .notion-callout__content > .notion-text{
   margin-top: 5px;
  color: var(--t1);
  padding-right: 10px;
  padding-left: 5px;
  background: rgba(66,191,221,.1);
  border-radius: 10px;
  border: 1px solid var(--t2);
  text-align: center;
}

.notion-column-list:nth-of-type(8) > .notion-column:nth-of-type(1) > .notion-callout > .notion-callout__content > .notion-text:hover{
  box-shadow: 0px 0px 2px 0px var(--t2);
}

/* Red callout changes */

.notion-root > div[class^="notion-callout bg-red"] > .notion-callout__content > h1{
  --bg-size: 400%;
  font-size: 50px !important;
  background: linear-gradient(90deg, var(--t2), var(--t1), var(--t2)) 0 0 / var(--bg-size) 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  webkit-text-fill-color: transparent;
  background-size: 400% auto;
  animation: textGlow 8s infinite linear;
}

.notion-root > div[class^="notion-callout bg-red"] {
  background: var(--dark);
  border-radius: 0px !important;
  width: 100vw;
  max-width: 100vw !important;
  position: relative !important;
  margin: 0 !important;
  margin-left: -50vw !important;
  left: 50% !important;
  padding: 20px 0px !important;
  display: flex !important;
  flex-direction: column !important;
  border: 0 !important;
  animation: fadeIn;
  animation-duration: 2s;
}

.notion-root > div[class^="notion-callout bg-red"] > .notion-callout__content {
  display: grid;
  justify-items: center;
  position: relative;
  top: -20px;
}

/* Brown Callout changes */
.notion-root > div[class^="notion-callout bg-brown"] {
  background: var(--dark);
  border-radius: 0px !important;
  width: 100vw;
  max-width: 100vw !important;
  position: relative !important;
  margin: 0 !important;
  margin-left: -50vw !important;
  left: 50% !important;
  padding: 20px 0px !important;
  display: flex !important;
  flex-direction: column !important;
  border: 0 !important;
  animation: fadeIn;
  animation-duration: 2s;
}

.notion-root > div[class^="notion-callout bg-brown"] > .notion-callout__content {
  display: grid;
  justify-items: center;
  position: relative;
}

/* Navbar Changes */
.super-navbar.simple{
  background: rgba(12,18,12,.2);
  backdrop-filter: blur(10px);
  color: var(--t2);
  
}

/*---------------------------------*\
   Button
\*---------------------------------*/

.notion-text__content
.color-yellow
.notion-link {
  /*Colors*/
  background: #fdb933  !important;
  color: #161616 !important;
  
  /*Borders*/
  border: 2px solid #161616 !important;
  border-radius: 8px !important;
  
  /*Sizes*/
  font-size: 12pt !important;
  padding: 5px 25px 6px 25px !important; /*Top-Left-Down-Right*/
  
  /*Others - DO NOT EDIT*/
  display: inline-block !important;
  opacity: 100% !important;
  transition: 0.2s ease-in-out !important;
}

/*Hover - Animation*/
.notion-text__content
.color-yellow
.notion-link:hover {
  transform: translate(0,0px) scale(0.95) !important;
}

/* Keyframes below for animations & root for color */

@keyframes textGlow{
  to{
    background-position: var(--bg-size) 0;
  }
}

*{
  user-select: none;
  -webkit-user-select: none;
}

:root{
 --color-bg-default: #0C120C !important;
 --dark: #001524;
 --b1: #336699; 
 --t1: #9CD08F;
 --t2: #42BFDD;
}
